.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.form-text {
  display: block;
  margin-bottom: 20px;
}

.form-text::first-letter {
  text-transform: capitalize;
}
