html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body.active {
  overflow: hidden;
}

:focus-visible {
  outline: #666 dashed 1px;
}

.o0 {
  opacity: 0;
}
